.offcanvas.offcanvas-start {
    width: 270px;

}

.devil {
    margin-inline-end: 40rem;
}

.btn {
    background-color: rgb(129, 220, 248);
    color: white;
    font-size: 20px;
    width: 120px;
    border-radius: 10px;
    border: 2px solid rgb(224, 91, 91);
}

body {
    min-height: 100vh;
    background: linear-gradient(90deg, #777676 0%, #f6ccf0 100%);
}

.ham {
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin: auto;
}

.hamm {
    width: 100%;
    margin-top: 220px;
    display: flex;
    animation: scroll 25s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(calc(-150px * 5));
    }

    100% {
        transform: translateX(calc(-300px * 5));
    }
}

.slide-img {
    height: 260px;
    width: 300px;
    display: flex;
    /* align-items: center; */
    padding: 18px;
    perspective: 150px;
}

img {
    width: 100%;
    transition: transform 1.2s;
}

img:hover {
    transform: translateZ(20px);
}

.hamm:hover {
    animation-play-state: paused;
}

.btn:hover {
    background-color: rgb(246, 186, 230);
    color: white;
    box-shadow:
        inset 0 -3em 3em rgba(1, 115, 1, 0.3),
        0 0 0 2px white,
        0.3em 0.3em 1em rgba(3, 245, 225, 0.818);
}
